<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="project-info-box mt-0">
                <h5>PRODUCT DETAILS</h5>
                <p class="mb-0">{{product.description}}</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Name:</b> {{product.name}}</p>
                <p><b>Category:</b> {{product.category}}</p>
                <p><b>Summary:</b> {{product.summary}}</p>
                <p class="mb-0"><b>Price:</b> ${{product.price}}</p>
            </div><!-- / project-info-box -->

        </div><!-- / column -->
    </div>
</div>
