<div class="container">
  <div class="row">
    <div class="input-group mb-2">
      <a routerLink="/product-add" title="new product" class="btn btn-primary float-right">new product</a><br/>
    </div>
    <div class="input-group mb-6">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="search.name"
      />
      <input
        type="text"
        class="form-control"
        placeholder="Search by category"
        [(ngModel)]="search.category"
      />
      <div class="input-group-append">
        <button
          class="btn btn-info"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
      <div class="input-group-append">
        <button
          class="btn btn-secondary"
          type="button"
          (click)="clearSearch()"
        >
          Clear
        </button>
      </div>
    </div>
  </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products| paginate : {
                      itemsPerPage: pageSize,
                      currentPage: search.page,
                      totalItems: count
                      };
                      let i = index">
            <td>{{i +1}}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }} $</td>
            <td>
              <button type=button class="btn btn-outline-danger"  (click)="confirmDelete(product.id)">Delete</button>
              <a class="btn btn-outline-info" routerLink="/product-edit/{{product.id}}">Edit</a>
              <a class="btn btn-outline-secondary" routerLink="/product-details/{{product.id}}">Details</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
</div>